<h2 class="mt-5">LancerConnect</h2>
<p class="lead">Freelancer community.</p>
<p class="lead">Please create an account or login.</p>
<%= link_to "Create Account", new_account_registration_path, class:"btn btn-success" %>
<%= link_to "Login", new_account_session_path, class:"btn btn-secondary" %>
