<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <% if account_signed_in? %>
      <%= link_to(profile_path(current_account.username), class: "nav-link dropdown-toggle") do %>
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">My Profile</span>
      <% end %>
      <% else %>
        <%= link_to(new_account_session_path, class: "nav-link dropdown-toggle") do %>
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">Login</span>
        <% end %>
      <% end %>
    </li>

  </ul>

</nav>
<!-- End of Topbar -->
